<%- include("header"); -%>
<h1>This is the about page</h1>
<p>This is a small page to make daily to do list and work list, and functional on checking items out when the actions are completed. Enjoy your time management~!</p>

<%- include("footer"); -%>
